@use "../../../themes/base/viewport/index" as Viewport;

@mixin page() {
  height: 100vh;
  display: flex;
  flex-direction: column;

  > h1 {
    span {
      & + span {
        margin-left: 0.5em;
      }

      &:first-child {
        font-weight: normal;
      }
    }
  }

  > .content {
    background-color: wheat;
    flex-grow: 1;
  }
}

.page {
  @include page;
}