@use "../../../../../themes/core/UX/button/index" as Button;
@use "../../../../../themes/base/viewport/index" as Viewport;
@use "../../../../../themes/core/UX/badge/index" as Badge;

@mixin as-list-item() {
  & {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  > div {
    flex-grow: 1;
    flex-basis: 20%;
    padding: 1em;

    &.status, &.date, &.tools {
      text-align: center;
    }
  }

  .actions {
    a {
      text-decoration: none;
      color: inherit;
      margin-left: 1em;
      font-size: 2em;
    }
  }

  &[data-status="draft"] {
    .badge {
      @include Badge.information;
      background-color: lightgrey;
      color: black;
    }
  }

  &[data-status="pending"] {
    .badge {
      @include Badge.information;
      background-color: grey;
    }
  }

  &[data-status="ongoing"] {
    .badge {
      @include Badge.information;
    }
  }

  &[data-status="blocked"] {
    .badge {
      @include Badge.alert;
    }
  }

  &[data-status="done"] {
    .badge {
      @include Badge.success;
    }
  }

  &[data-status="cancelled"] {
    .badge {
      @include Badge.information;
      background-color: grey;
    }
  }
}

.application[data-view-mode="list-item"] {
  @include as-list-item;
}