@mixin documentBundle() {
  height: 100%;
  display: flex;
  flex-direction: column;

  .header, .items {
    position: relative;
  }

  .header {
    background-color: darkred;
    color: white;
    padding: 1.0em;
    z-index: 1;
  }

  .items {
    overflow-y: auto;
    height: 100%;
    z-index: 0;
  }

  .item {
    & + .item {
      border-top: solid 2px #999;
    }
  }
}

.document-bundle {
  @include documentBundle;
}