@mixin document {
  > .inner {
    border: solid 1px;
    text-align: center;

    .title {
      background-color: rgba(black, 0.1);
      border-bottom: solid 1px rgba(black, 0.2);

      &:before, span {
        vertical-align: middle;
      }

      &:before {
        display: inline-block;
        margin-right: 0.5em;
        font-size: 1.5em;
        content: "🗅";
        line-height: 1;
      }

      span {
        font-weight: bold;
      }
    }

    .title, .content {
      padding: 10px;
    }
  }

  &[data-type="pdf"] {
    .title {
      &:before {
        content: "📝";
      }
    }
  }
}

.document {
  @include document;
}
