@mixin routeItem() {
  &, > a {
    > .content {
      > .icon {
        margin-right: 0.5em;
        font-size: 1.5em;
        padding-bottom: 2px;
        border-bottom: solid 2px transparent;
      }
    }
  }

  > a, > .content {
    padding: 1em 3em;
    display: block;
  }

  > a {
    color: inherit;
    text-decoration: none;
  }

  > .content {
    cursor: default;

    > .label {
      font-weight: bold;
    }

    > .icon {
      border-bottom: solid 2px red;
    }
  }
}
