@use "test/demo";
@use "src/themes/base/viewport" as Viewport;

@mixin _match() {
  &:before {
    content: "MATCH";
    background-color: orange;
    color: black;
  }
}

.viewport-test {
  &:before {
    content: "NO MATCH";
    display: block;
  }

  &[data-viewport=small] {
    @include Viewport.small {
      @include _match;
    }
  }

  &[data-viewport=medium] {
    @include Viewport.medium {
      @include _match;
    }
  }

  &[data-viewport=large] {
    @include Viewport.large {
      @include _match;
    }
  }
}