@use "../color/index" as Color;

body {
  margin: 0;
  color: Color.onSurface();
  font-family: monospace;
  font-size: 16px;

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    //background-image: url(assets/square_pattern_6822054.jpg);
    background-repeat: repeat;
    opacity: 0.1;
    background-size:100px;
  }
}