@use "src/Primitives/viewport" as viewport;

@mixin pinBoard() {
  background-image: url(assets/background.jpg);
  background-repeat: repeat;
  background-size: percentage(1/4);
  border: solid 2px firebrick;

  .pins {
    > .inner {
      overflow-x: auto;
      display: flex;
      flex-direction: row;
      align-items: start;
      flex-wrap: wrap;
    }
  }

  .pin {
    padding: 1em;
    box-sizing: border-box;
    max-width: 100%;

    > * {
      box-shadow: 0.5em 0.5em 1em rgba(black, 0.5);
    }

    @include viewport.medium() {
      display: inline-block;
      width: percentage(1/4);
    }
  }
}

.pin-board {
  @include pinBoard;
}