@use "src/Primitives/viewport" as Viewport;
@use "src/Primitives/grid" as Grid;

@mixin pinBoard() {
  background-image: url(assets/background.jpg);
  background-repeat: repeat;
  background-size: percentage(1/4);
  border: solid 2px firebrick;

  .pins {
    @include Grid.grid;
    padding: 1.0em;
  }

  .pin {
    box-sizing: border-box;
    box-shadow: 0.5em 0.5em 1em rgba(black, 0.5);
    @include Grid.element(1);

    @include Viewport.small() {
      display: inline-block;
      @include Grid.element(2);
    }

    @include Viewport.medium() {
      @include Grid.element(3);
    }

    @include Viewport.large() {
      @include Grid.element(4, 1);
    }
  }
}

.pin-board {
  @include pinBoard;
}