{% set timestamp = 'now'|date('U') %}
<!DOCTYPE html>
<html lang="{{ language ?? 'en' }}" dir="{{ direction ?? 'ltr' }}">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="index.css?{{ timestamp }}">
        <script type="text/javascript" src="index.js?{{ timestamp }}"></script>
    {% endblock %}
</head>
<body></body>
</html>
